.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 100vw;
  min-height: calc(100vh - 50px);
  overflow: hidden;
  background: #212121;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#212121c0)), url(../../assets/images/pattern-1.svg);
  background-image: -o-linear-gradient(left, #212121c0 0% 100%), url(../../assets/images/pattern-1.svg);
  background-image: linear-gradient(to right, #212121c0 0% 100%), url(../../assets/images/pattern-1.svg);
}
