.gameField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 576px;
  /* max-height: 50%; */
  margin-top: 12px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin: 6px;
}

.letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #21212150;
  color: #fff;
  border: 1px solid #fdde29;
  border-radius: 12px;
  width: 15vw;
  height: 15vw;
  max-width: 64px;
  max-height: 64px;
  font-size: 24px;
}

.green {
  background: #fedd2c;
  border: 1px solid #fedd2c;
  color: #000;
}

.yellow {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}

.black {
  background: #5f5f5f;
  border: 1px solid #5f5f5f;
}

.green,
.yellow,
.black {
  -webkit-animation: Flip 0.6s ease-in-out normal;
  animation: Flip 0.6s ease-in-out normal;
}
.letter:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.letter:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.letter:nth-child(3) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.letter:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.letter:nth-child(5) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}

.error .letter {
  -webkit-animation: Err 0.5s ease-in-out normal;
  animation: Err 0.5s ease-in-out normal;
}

@keyframes Flip {
  0% {
    transform: scaleX(100%);
    background: #21212150;
    color: #fff;
    border: 1px solid #fdde29;
  }
  50% {
    -webkit-transform: scaleX(0%);
    transform: scaleX(0%);
    background: #21212150;
    color: #fff;
    border: 1px solid #fdde29;
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes Blink {
  0% {
    background: transparent;
  }
  50% {
    background: #ffffff10;
  }
  100% {
    background: transparent;
  }
}

@keyframes Err {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
    color: red;
    border-color: red;
  }
  40% {
    transform: rotate(-5deg);
    color: red;
    border-color: red;
  }
  60% {
    transform: rotate(5deg);
    color: red;
    border-color: red;
  }
  80% {
    transform: rotate(-5deg);
    color: red;
    border-color: red;
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 400px) {
  .main {
    gap: 0;
    justify-content: space-evenly;
  }
  .gameField {
    gap: 0.5em;
  }
  .row {
    gap: 0.5em;
    margin: 0;
  }
  .letter {
    max-width: 64px;
    max-height: 64px;
    font-size: 1em;
    border-radius: 0.5em;
  }
}
