.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 1px #000000;
  box-shadow: 0 0 5px 1px #000000;
  z-index: 10;
  background: #212121;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin: 0 0 0 16px;
}

@media (max-width: 319px) {
  .logo {
    display: none;
  }
}

.logoImg {
  max-width: 40px;
  max-height: 40px;
  width: 40px;
  height: 40px;
  background-image: url('../../../assets/images/logo.png');
  background-size: contain;
  -webkit-filter: invert();
  filter: invert();
}

.nav {
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  margin: 0 16px;
}

.link {
  padding: 4px;
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: -4px;
  width: 100%;
  height: 1%;
  background: white;
  padding: 4px;
  -webkit-transform: translateY(0%) scaleY(10%);
  -ms-transform: translateY(0%) scaleY(10%);
  transform: translateY(0%) scaleY(10%);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link:hover:before,
.active::before {
  background: #fedd2c;
  -webkit-transform: translateY(25%) scaleY(10%);
  -ms-transform: translateY(25%) scaleY(10%);
  transform: translateY(25%) scaleY(10%);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.link:hover,
.active {
  color: #fedd2c;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 16px 0 0;
}

.loader {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
