@font-face {
  font-family: 'Tinkoff Sans';
  src: url('../fonts/TinkoffSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tinkoff Sans';
  src: url('../fonts/TinkoffSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tinkoff Sans';
  src: url('../fonts/TinkoffSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  font-family: 'Tinkoff Sans';
  background: #212121;
  background-image: linear-gradient(to right, #212121c0 0% 100%), url(../../assets/images/pattern-1.svg);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button:single-button:vertical:decrement,
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  background: transparent;
}
