.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  overflow: auto;
  width: 100%;
  position: relative;
}

.results {
  display: flex;
  max-width: 576px;
  width: calc(100% - 48px);
  height: 100%;
  flex-direction: column;
  gap: 24px;
  margin: 24px;
  overflow-y: scroll;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  position: relative;
  border-radius: 24px;
}

.row:nth-child(1) {
  background-color: #ffd70080;
}
.row:nth-child(2) {
  background-color: #9e9e9e80;
}
.row:nth-child(3) {
  background-color: #ce743080;
}

.image {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  margin: 12px;
}
.photo {
  border-radius: 50%;
}

.position {
  position: absolute;
  bottom: -18px;
  right: -18px;
  display: flex;
  width: 36px;
  height: 36px;
}

.name {
  width: 100%;
  font-size: 24px;
}
.attempts {
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
